.nomor{
    text-decoration: none;
    border: 1px solid blue;
    padding: 10px;
    background-color: blue;
    color: white;
}
.menu{
    background-color: blue;
    color: white;
}

.menu:hover{
  background-color: yellow;
  color: red;
}

@media (max-width: 576px) {
    #rekening{
        display: none;
    }
    #lokasi{
        display: none;
    }
    .isian{
        display: none;
    }
    .provider{
        width: 50px;
    }
 }